.app-container {
  display: grid;
  grid-gap: var(--padding-md);
  grid-template-columns: [pad-start] 0 [start] 1fr [end] 0 [pad-end];
  grid-template-rows: [header-start] auto [header-end controls-start] auto [controls-end deck-start] auto [deck-end ranking-start] auto [ranking-end players-start] 1fr [players-end];
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/bg.jpg");

  @media only screen and (min-width: 992px) {
    grid-template-columns: [pad-start] 1rem [start] 1fr [ranking-start] 18rem [ranking-end end] 1rem [pad-end];
    grid-template-rows: [header-start] auto [header-end controls-start] auto [controls-end deck-start] auto [deck-end players-start] 1fr [players-end];
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: [pad-start] 3rem [start] 1fr [ranking-start] 20rem [ranking-end end] 3rem [pad-end];
    grid-template-rows: [header-start] auto [header-end controls-start] auto [controls-end deck-start] auto [deck-end players-start] 1fr [players-end];
  }

  @media only screen and (min-width: 1440px) {
    grid-template-columns: [pad-start] 10rem [start] 1fr [ranking-start] 22rem [ranking-end end] 10rem [pad-end];
    grid-template-rows: [header-start] auto [header-end controls-start] auto [controls-end deck-start] auto [deck-end players-start] 1fr [players-end];
  }

  > * {
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.9);
  }

  .app-header {
    margin-bottom: var(--padding-md);
    grid-column: pad-start/pad-end;
    grid-row: header-start/header-end;

    @media only screen and (min-width: 992px) {
      grid-column: pad-start/pad-end;
      grid-row: header-start/header-end;
    }
  }

  .app-controls {
    padding: var(--padding-md);
    box-shadow: var(--box-shadow-md);
    grid-column: start/end;
    grid-row: controls-start/controls-end;

    @media only screen and (min-width: 992px) {
      grid-column: start/end;
      grid-row: controls-start/controls-end;
    }
  }

  .app-deck {
    padding: var(--padding-md);
    box-shadow: var(--box-shadow-md);
    grid-column: start/end;
    grid-row: deck-start/deck-end;

    @media only screen and (min-width: 992px) {
      grid-column: start/ranking-start;
      grid-row: deck-start/deck-end;
    }
  }

  .app-ranking {
    padding: var(--padding-md);
    box-shadow: var(--box-shadow-md);
    grid-column: start/end;
    grid-row: ranking-start/ranking-end;

    @media only screen and (min-width: 992px) {
      grid-column: ranking-start/ranking-end;
      grid-row: deck-start/deck-end;
    }
  }

  .app-players {
    overflow: auto;
    margin-bottom: var(--padding-md);
    box-shadow: var(--box-shadow-md);
    grid-column: start/end;
    grid-row: players-start/players-end;

    @media only screen and (min-width: 992px) {
      grid-column: start/end;
      grid-row: players-start/players-end;
    }
  }
}
