.cards-card {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 10;
  max-width: 4rem;
  height: 6rem;
  padding: var(--padding-sm);
  border-radius: 4px;
  background-color: var(--color-lighter);
  border: 1px solid var(--color-light);

  @media only screen and (min-width: 600px) {
    max-width: 6rem;
    height: 9rem;
  }

  @media only screen and (min-width: 992px) {
    max-width: 8rem;
    height: 12rem;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 10rem;
    height: 15rem;
  }

  &:not(:last-of-type) {
    margin-right: var(--padding-md);
  }

  &[data-highlight="true"] {
    /* top: -4px;
    left: -4px; */
    box-shadow: var(--box-shadow-lg);
    border-color: var(--color-primary-light);
  }

  > div:nth-of-type(1),
  > div:nth-of-type(3) {
    font-size: 1rem;
    color: var(--color-dark);
    padding: 0 var(--padding-sm);

    @media only screen and (min-width: 600px) {
      font-size: 1.2rem;
    }

    @media only screen and (min-width: 992px) {
      font-size: 1.4rem;
    }
  }

  > div:nth-of-type(3) {
    transform: rotate(180deg);
  }

  > div:nth-of-type(2) {
    flex-grow: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.8rem;

    @media only screen and (min-width: 600px) {
      background-size: 2.4rem;
    }

    @media only screen and (min-width: 992px) {
      background-size: 3rem;
    }

    &.cards-icon-s {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIzLjY0IDIzLjY0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMy42NCAyMy42NDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnIGZpbGw9IiMyNjMyMzgiPjxwYXRoIGQ9Ik02Ljk5NSwxOS4wNDljMi4wNzcsMCwzLjg1Mi0xLjQ4LDQuODI3LTIuNWMwLjk3NiwxLjAyLDIuNzQ2LDIuNSw0LjgyMywyLjVjMy41NzYsMCw2LjA3Ni0yLjQ5NCw2LjA3Ni02LjA2M2MwLTMuOTM1LTMuMTAzLTYuNDc5LTYuMTA0LTguOTM4Yy0xLjQxNy0xLjE2Mi0yLjg4NS0yLjM2Mi00LjAxLTMuNjk2QzEyLjQxOCwwLjEyOSwxMi4xNDEsMCwxMS44NSwwaC0wLjA1OGMtMC4yOTEsMC0wLjU2OCwwLjEyOS0wLjc1OCwwLjM1MmMtMS4xMjYsMS4zMzItMi41OTMsMi41MzMtNC4wMSwzLjY5NWMtMy4wMDIsMi40NTktNi4xMDYsNS4wMDItNi4xMDYsOC45MzhDMC45MTksMTYuNTU1LDMuNDE3LDE5LjA0OSw2Ljk5NSwxOS4wNDl6Ii8+PHBhdGggZD0iTTguMTA5LDIzLjY0YzIuNDc0LTAuNDQ0LDQuOTY3LTAuNDI1LDcuNDIyLDBjLTIuNDU1LTMuNjkyLTMuNzExLTEwLjgzMy0zLjcxMS0xMC44MzNTMTAuNTgzLDE5Ljk0OCw4LjEwOSwyMy42NHoiLz48L2c+PC9zdmc+);
    }

    &.cards-icon-c {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIxNiAyMTYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIxNiAyMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjMjYzMjM4IiBkPSJNMTYxLjY2OCw3NS4yMDFjMS44ODItNS42NzksMi44MzItMTEuNjA0LDIuODMyLTE3LjcwMUMxNjQuNSwyNi4zNDYsMTM5LjE1NCwxLDEwOCwxUzUxLjUsMjYuMzQ2LDUxLjUsNTcuNWMwLDYuMDk3LDAuOTUsMTIuMDIyLDIuODMyLDE3LjcwMUMyNC4xNzksNzYuMzQ1LDAsMTAxLjIzMiwwLDEzMS42NmMwLDMxLjE1NCwyNS4zNDYsNTYuNSw1Ni41LDU2LjVjMTQuNDQsMCwyNy42MjktNS40NSwzNy42MjgtMTQuMzk2TDgxLjk2MiwyMTVoNTEuNzMzbC0xMi4yOTMtNDEuNjY1YzEwLjA1NCw5LjE5OSwyMy40MywxNC44MjUsMzguMDk4LDE0LjgyNWMzMS4xNTQsMCw1Ni41LTI1LjM0Niw1Ni41LTU2LjVDMjE2LDEwMS4yMzIsMTkxLjgyMSw3Ni4zNDUsMTYxLjY2OCw3NS4yMDF6Ii8+PC9zdmc+);
    }

    &.cards-icon-h {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTkuOTQ1IDU5Ljk0NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTkuOTQ1IDU5Ljk0NTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNkNTAwMDAiIGQ9Ik01OC41OTgsMTIuNzI5QzU2Ljc1Nyw4LjAyNSw1My4yNDIsNC40MTgsNDguNywyLjU3MWMtMS45NjQtMC43OTgtMy45NTMtMS4yMDMtNS45MS0xLjIwM2MtNi41MDksMC0xMS4wNjMsNC4zNTgtMTIuODQsNi40MDFjLTEuNzY4LTIuMDUtNi4zMDItNi40MjYtMTIuODA5LTYuNDI2Yy0xLjk1MSwwLTMuOTM0LDAuNDA0LTUuODk1LDEuMjAxQzYuNzA0LDQuMzkxLDMuMTg4LDcuOTk4LDEuMzQ3LDEyLjcwMWMtMS45NjQsNS4wMTktMS43NzMsMTAuNzA3LDAuNTI1LDE1LjYwOGMzLjI2Myw2Ljk1NywxMC42ODEsMTcuNzg4LDI3LjQ5LDI5Ljg3MmwwLjU4MywwLjQybDAuNTgzLTAuNDJjMTYuODkyLTEyLjE0NCwyNC4zMDItMjIuOTM0LDI3LjU0My0yOS44NDdDNjAuMzcxLDIzLjQzNSw2MC41NjIsMTcuNzQ3LDU4LjU5OCwxMi43Mjl6Ii8+PC9zdmc+);
    }

    &.cards-icon-d {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIyMy42NDYgMjIzLjY0NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjIzLjY0NiAyMjMuNjQ2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gZmlsbD0iI2Q1MDAwMCIgcG9pbnRzPSIxMTEuODIzLDAgMTYuNjIyLDExMS44MjMgMTExLjgyMywyMjMuNjQ2IDIwNy4wMjUsMTExLjgyMyAiLz48L3N2Zz4=);
    }
  }

  .cards-back {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease;
    box-shadow: var(--box-shadow-sm);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &.cards-visible {
    box-shadow: var(--box-shadow-md);

    .cards-back {
      opacity: 0;
      visibility: hidden;
      transition: all 0.8s ease;
    }
  }
}
