.deck-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 6rem;

  @media only screen and (min-width: 600px) {
    min-height: 9rem;
  }

  @media only screen and (min-width: 992px) {
    min-height: 12rem;
  }

  @media only screen and (min-width: 1200px) {
    min-height: 15rem;
  }
}
