.navbar {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

    @media only screen and (min-width: 992px) {
      width: calc(100% - 2 * (1rem + var(--padding-md)));
    }

    @media only screen and (min-width: 1200px) {
      width: calc(100% - 2 * (5rem + var(--padding-md)));
    }

    @media only screen and (min-width: 1440px) {
      width: calc(100% - 2 * (10rem + var(--padding-md)));
    }

    .logo {
      display: flex;
      font-size: 1.6rem;

      span {
        width: 4rem;
        margin-right: var(--padding-md);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
        background-image: url("/assets/images/logo.svg");
      }
    }

    .github {
      display: flex;

      span {
        width: 4rem;
        margin-left: var(--padding-md);
        background-position: center;
        background-size: 75%;
        background-repeat: no-repeat;
        background-image: url("/assets/images/github.svg");
      }
    }
  }
}
