.players {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 10;
  overflow: auto;
}

.players-player {
  width: calc(100% / 2);
  padding: var(--padding-md);
}

@media only screen and (min-width: 600px) {
  .players-player {
    width: calc(100% / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .players-player {
    width: calc(100% / 4);
  }
}

@media only screen and (min-width: 2500px) {
  .players-player {
    width: calc(100% / 6);
  }
}

.players-player .players-title {
  display: flex;
  border-radius: 1.5rem;
  overflow: hidden;
}

.players-player .players-title > * {
  height: 3rem;
  line-height: 3rem;
  margin: 0 var(--padding-md) 0 0;
}

.players-player .players-name {
  flex-grow: 10;
  width: 10px;
}

.players-player .players-points {
  font-size: 1rem !important;
  margin-right: 0;
}

.players-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 6rem;
  padding: var(--padding-md) 0 0 0;
}

@media only screen and (min-width: 600px) {
  .players-cards {
    min-height: 9rem;
  }
}

@media only screen and (min-width: 992px) {
  .players-cards {
    min-height: 12rem;
  }
}

@media only screen and (min-width: 1200px) {
  .players-cards {
    min-height: 15rem;
  }
}

.players-add {
  position: relative;
  height: 10px;
}

#players-add {
  position: absolute;
  bottom: var(--padding-md);
  right: var(--padding-md);
  width: 5rem;
  height: 5rem;
}
