#toast-container {
  top: auto;
  right: 5%;
  bottom: 5%;
  z-index: 1001;
  min-width: 36rem;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 90%;
    bottom: 5%;
  }
}

.toast {
  min-height: unset;
  padding: var(--padding-sm) var(--padding-lg);
}

.toast .toast-action {
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 var(--padding-lg);
}

.modal.open {
  display: flex !important;
  flex-direction: column;
  overflow: hidden !important;
}

.modal-header {
  padding: var(--padding-md) !important;
  border-bottom: 1px solid var(--fade-dark-sm);
  padding: var(--padding-md) var(--padding-lg) !important;
}

.modal-content {
  flex-grow: 10;
  overflow: auto;
  padding: var(--padding-md) var(--padding-lg) !important;
}

.modal-footer {
  height: unset !important;
  padding: var(--padding-md) var(--padding-lg) !important;
  border-top: 1px solid var(--fade-dark-sm);
  margin-top: var(--padding-md);
}

input:focus {
  border-color: var(--color-secondary-light) !important;
}

.btn-large {
  padding: 0 16px !important;
}

.btn-large.btn-floating {
  padding: 0 !important;
}
